/* custom properties */
:root {
    --main-font: system-ui, sans-serif;
    --title-size: 3rem;
    --title2-size: 2.75rem;
    --title3-size: 2.5rem;
    --title4-size: 1.75rem;
    --title5-size: 1.5rem;
    --title6-size: 1.25rem;
    --text-size: 1rem;
    /* --primary-color:  */
}
/* end custom properties */
/* Normalize CSS */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

input,
textarea,
select,
button {
    font-family: inherit;
}

/* Reset default styles */
h1, h2, h3, h4, h5, h6,
p,
ul, ol,
a,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    vertical-align: baseline;
    color: inherit;
    background: none;
    line-height: 1;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
/* End Normalize CSS */

/* Custom styles */
.title {
    font-size: var(--title-size);
    padding-block: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    background: white;
    width: fit-content;
}

.title-border::before{
    content: "";
    background: linear-gradient(to right, red, purple);
    position: absolute;
    inset: 0;
    border-radius: inherit;
    z-index: -1;
    margin-bottom: -0.25rem;
}

.title2 {
    font-size: var(--title2-size);
}

.title3 {
    font-size: var(--title3-size);
}

.title4 {
    font-size: var(--title4-size);
}

.title5 {
    font-size: var(--title5-size);
}

.title6 {
    font-size: var(--title6-size);
}

p {
    font-size: var(--text-size);
    line-height: 1.5;
    margin: 0.5rem;
}

.bold-text {
    font-weight: 600;
}
/* End Custom styles */

/* Header and Nav styles */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.logo {
    margin: 2rem;
    width: 80px;
}

.mobile-nav-toggle {
    display: none;
}

.main-nav {
    display: flex;
}

.main-nav ul {
    display: flex;
    gap: 1rem;
    background: hsl(0 0% 0% / 0.75);
    color: white;
}

@supports (backdrop-filter: blur(1rem)) {
    .main-nav ul {
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
    }
}

.main-nav ul li {
    margin-right: 2rem;
}

.main-nav ul li.active {
    color: red;
    margin-right: 2rem;
}

@media (max-width: 35em) {
    .main-nav ul {
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
        gap: 2rem;
        transform: translateX(100%);
        transition: transform 350ms ease-in;
    }

    .main-nav ul[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 1;
        background: url(assets/img/menu.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background: url(assets/img/close.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media (min-width: 35em) {
    .main-nav ul {
        gap: 3rem;
        padding-block: 2rem;
        padding-inline: clamp(3rem, 8vw, 10rem);
    }
}
/* Header and Nav styles */

/* Banner styles */
.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/img/software-developer.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner article {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
}

.banner article h1 {
    font-weight: 800;
    font-size: 2rem;
}

.banner-emphasis {
    font-weight: 800;
    font-size: 3rem;
}

.banner article p {
    font-size: 1.5rem;
}

.banner article aside {
    margin-top: 2rem;
}

.external-links nav {
    display: flex;
    gap: 1.5rem;
}
/* Banner styles */

.experience {
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
}

.experience details {
    border: 1px solid #e4e3e6;
    margin: 6px 0;
    border-radius: 0.25rem;
    padding: 2rem;
    box-sizing: border-box;
    animation-name: close-detail;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.experience details[open] {
    animation-name: open-detail;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.experience details summary {
    font-weight: bold;
    padding: 0.5rem;
    cursor: pointer;
}

.experience details article {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.experience details article img {
    width: 30%;
}

.experience details footer {
    text-align: center;
    margin-top: 1rem;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
}

.grid-projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    margin: auto;
}

.grid-projects article {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #e4e3e6;
    border-radius: 0.25rem;
}

.grid-projects article header{
    position: absolute;
    top: 0;
    left: 0;
}

.grid-projects article img {
    max-width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 0.25rem 0.25rem 0 0;
}

.main-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes open-detail {
    from {
        border: 1px solid #e4e3e6;
    }

    to {
        border: 1px solid #e4e3e600;
        box-shadow: 0 6px 10px rgba(0,0,0,.08);
    }
}

@keyframes close-detail {
    from {
        border: 1px solid #e4e3e600;
        box-shadow: 0 6px 10px rgba(0,0,0,.08);
    }

    to {
        border: 1px solid #e4e3e6;
    }
}